# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# for IDE
.vscode/
.idea/
*.iml
*.settings/
*.project
*.classpath

settings-*.json
!settings-sample.json
v2settings-*.json
!v2settings-sample.json

# private key file
private_*.key

# coverage report
./profile
./profile.html